{% load staticfiles %}
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type= "text/css" href="{% static 'galaxyzoo/style.css' %}">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <title>Galaxt Zoo</title>
  </head>
  <body>
    <div id="navigation">
      <ul style="width:auto;">
        <li>
          Classify
        </li>
        <li>
          Story
        </li>
        <li>
          Science
        </li>
        <li class="logo">
          <img src="{% static "galaxyzoo/images/logo.png" %}" alt="Galaxy Zoo">
        </li>
        <li>
          Discuss
        </li>
        <li>
          Profile
        </li>
        <li>
          Language
        </li>
      </ul>
    </div>
    <div id="main">
    <h3>Bulge</h3>
            <h1>{{ bulge.question_text }}</h1>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

        <div>
          <form action="{% url 'galaxyzoo:to_tidal' bulge.id %}" method="POST">
            {% csrf_token %}
            <input type="submit" value="Rounded" />
            <input type="submit" value="Boxy" />
            <input type="submit" value="Bulge" />
          </form>
        </div>
    </div>
  </body>
</html>

