{% load staticfiles %}
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type= "text/css" href="{% static 'galaxyzoo/file2_style.css' %}">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
   <title>Galaxt Zoo</title>
  </head>
  <body>
    <div class="help">
      <h1 class="heading">Help</h1>
      <p class="text">
        "The aim here is to divide featureless galaxies from all the rest. If you can see any interesting features at all, click "features or disk." Just occasionally you might see something that isn't a galaxy at all — the long streak of a satellite, for example, or an image swamped by light from a bright star. If this happens, just click "star or artifact". Click on the images to see larger examples."
      </p>
      <div class="examples">
        <h3 class="sub-heading">Example</h3>
          <div class="row">
            <ul>
              <li>
                <img src="{% static "images/samplesmooth.png" %}"alt="samlesmooth">
                <h4>Smooth</h4>
              </li>
              <li>
                <img src="{% static "images/smooth1.png" %}" alt="smooth">
              </li>
              <li>
                <img src="{% static "images/smooth2.png" %}" alt="smooth">
              </li>
            </ul>
          </div>
          <div class="row">
            <ul>
              <li>
                <img src="{% static "images/samplespiral.png" %}" alt="samlesmooth">
                <h4>Features or disk</h4>
              </li>
              <li>
                <img src="{% static "images/spiral1.png" %}"alt="smooth">
              </li>
              <li>
                <img src="{% static "images/spiral2.png" %}"alt="smooth">
              </li>
            </ul>
          </div>
          <div class="row">
            <ul>
              <li>
                <img src="{% static "images/samplestar.png" %}" alt="samlesmooth">
                <h4>Star or artifact</h4>
              </li>
              <li>
                <img src="{% static "images/star1.png" %}" alt="smooth">
              </li>
              <li>
                <img src="{% static "images/star2.png" %}" alt="smooth">
              </li>
            </ul>
          </div>
      </div>
    </div>
  </body>
</html>